<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/layui/css/layui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/myscore3-1.css}" />
    <script th:src="@{/static/js/aJaxUtil.js}"></script>
    <script th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/admin.css}" />
</head>
<body>
<div class="page-content-wrap" id="studentSearch">
    <h5 style="text-align:center;font-size: 20px;line-height: 25px;color:#666">用户详情</h5>
    <hr>
</div>
<div class="center">
    <div class="haha">
        <p>学工号:</p>
        <p id="de1" th:text="${session.currTeacher.getTid()}"></p><br>
        <p>姓名:</p>
        <p id="de2" th:text="${session.currTeacher.getName()}"></p>
    </div>
</div>
<div class='centerAfterLeft'>
    <ul class="jiange">
        <li>性别:<p id="de3" th:text="${session.currTeacher.getSex()}"></p></li>
        <li>学院:<p id="de4" th:text="${session.currTeacher.getCollege()}"></p></li>
        <li>职称:<p id="de5" th:text="${session.currTeacher.getJobTitle()}"></p></li>
    </ul>
</div>
<div class="centerAfterRight">
        <img class="centerAfterRight" th:src="@{/static/images/preview.jpg}">

</div>

<div class="footer">
    <div class="layui-btn-container">
        <button type="button" data-method="offset" id="abc" data-type="t" class="layui-btn layui-btn-normal layui-btn-radius" style="background-color: #1e9fff">修改密码</button>
    </div>

</div>

<script th:src="@{/static/layer/layer.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/static/layui/layui.js}" type="text/javascript" charset="utf-8"></script>
<script>

    $('#abc').on('click', function(){
        layer.open({
            type: 2,
            title: '修改密码',
            shadeClose: true,
            shade: 0.8,
            area: ['500px', '90%'],
            content: 'changePwdForTc.html' //iframe的url
        });});
</script>
</body>
</html>