body {
    background-color: menu;
    font-family: 楷体;
}
.haha{
    float: left;
    position: absolute;
    left:2%;
    top:30%;

}
.center {
    float: left;

    position: fixed;
    left: 20%;
    right: 20%;
    top: 10%;
    width: 60%;
    height: 15%;
    opacity: 0.95;
    float: left;
    background-color: white;
}

.centerAfterLeft {
    font-size:18px;
    position: fixed;
    left: 20%;
    top: 26%;
    width: 29.5%;
    height: 50%;
    opacity: 0.95;
    float: left;
    background-color: white;
}

.centerAfterRight {
    position: fixed;
    right: 20%;
    top: 26%;
    width: 29.5%;
    height: 50%;
    opacity: 0.95;
    float: left;
    background-color: white;
}

.footer {
    position: fixed;
    left: 20%;
    right: 20%;
    top: 77%;
    width: 60%;
    height: 15%;
    opacity: 0.95;
    background-color: white;
}

.lastfooter {
    position: fixed;
    left: 20%;
    right: 20%;
    top: 93%;
    width: 60%;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    background-color: transparent;
}
.jiange{
    margin-left:10%;
    margin-top:10%;
}
.jiange li{
    margin-bottom: 30px;
}
p{
    font-size:18px;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: bold;
}
/*#de3{*/
/*    font-size:18px;*/
/*    position: fixed;*/
/*    left: 30%;*/
/*    top: 29%;*/
/*    width: 29.5%;*/
/*    height: 50%;*/
/*    float: left;*/

/*}*/
.layui-btn-container{
    margin-left:25%;
    margin-top:4%;

}
.zoomImage{
    width:100%;
    height:0;
    padding-bottom: 100%;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
